<div className="App">
  <header>
      <h1>Pipe's Chat</h1>
      <div  *ngIf="user !== null" >
        <button class="button_signOut" (click)="signOut()">
        </button>
      </div>
  </header>

  <section *ngIf="user !== null">
    <div class="container">
      <app-chatroom></app-chatroom>
    </div>
    
  </section>

  <div class="start">
    <section *ngIf="user === null">
      <button class ="button_signIn"(click)="signIn()">
        Sign In
      </button>
    </section>
  </div>

</div>