<ul>
    <li *ngFor="let item of items | async">
        <article class="container_article">
            <div class="name">
            <img src="{{ item.photoURL }}" alt="avatar">            
            <p>{{ item.displayName }}</p> 
            </div>
            <div class="text">
                {{ item.text }}
            </div> 
        </article>
    </li>
</ul>
<div class = "send_message">
<input type="text" id="input_message" placeholder="Ingresar algo aqui" [(ngModel)]="formValue" />
<button class="button_send" id="btnSend" type="onsubmit" (click)="sendMessage()" [disabled]="!formValue"></button>
</div>
